{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}


    {% set route_name = field_description.options.route.name %}
    {% set route_role = route_name | upper %}

    <div>
        <table>
            <tr>
                <td>
                    <div style="padding: 15px;">
                        <img style="display: block; max-width: 80px; max-height: 80px;" class="restaurant-admin-picture" src="{{ object.user.avatar | cloudfront }}" />
                    </div>
                </td>
                <td>
                    <div>
                        <span style="font-weight: bold;">{{ object.user.fullName }}</span><br/>
                        <span>{{ object.user.email }}</span><br/>
                        <span style="color: #4aa099;">Score: {{ object.user.score }}</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}