{% extends "TastdCoreBundle:Email:template.html.twig" %}
{% block content %}

    <h3 class="color-tastd-green"
        style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; color: #41a09a !important; font-weight: 500; font-size: 27px; margin: 0 0 15px; padding: 0;">
        Hello {{ user.firstName }},</h3>

    <h5 class="lead font-weight-bold"
        style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; color: #465359; font-weight: bold; font-size: 17px; margin: 0 0 15px; padding: 0;">
        You requested a new password.</h5>


    <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.4; color: #465359; margin: 0 0 15px; padding: 0;">
        Your new password is: <strong>{{ password }}</strong>
    </p>

    <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.4; color: #465359; margin: 0 0 15px; padding: 0;">
        Keep it safe. Remember to change it after login.
    </p>

    <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.4; color: #465359; margin: 0 0 15px; padding: 0;">
        Thanks!<br
                style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"/><span
                class="color-tastd-green font-style-italic"
                style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-style: italic; color: #41a09a !important; margin: 0; padding: 0;">The Tastd Team</span>
    </p>

{% endblock %}