<!-- Inliner Build Version 4380b7741bb759d6cb997545f3add21ad48f010b -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml"
      style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
<head style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
    <meta name="viewport" content="width=device-width"
          style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"
          style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"/>
    <title style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
        Tastd</title>
</head>
<body bgcolor="#FFFFFF"
      style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; height: 100%; width: 100% !important; margin: 0; padding: 0;">
<style type="text/css">
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        src: local('Montserrat-Regular'), url('http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYC3USBnSvpkopQaUR-2r7iU.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        src: local('Montserrat-Bold'), url('http://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcvEr6Hm6RMS0v1dtXsGir4g.ttf') format('truetype');
    }

    @media only screen and (max-width: 600px) {
        a[class="btn"] {
            display: block !important;
            margin-bottom: 10px !important;
            background-image: none !important;
            margin-right: 0 !important;
        }

        div[class="column"] {
            width: auto !important;
            float: none !important;
        }
    }
</style>
<div class="content"
     style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 600px; display: block; margin: 0 auto; padding: 15px;">
    <!-- HEADER -->
    <table class="head-wrap round-borders" bgcolor="#41a09a"
           style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; border-spacing: 0px; border-collapse: collapse; border-radius: 4px; width: 100%; margin: 0; padding: 0;">
        <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
            <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
            <td class="header container"
                style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 0;">

                <div style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
                    <table width="100%" bgcolor="#41a09a" class="round-borders"
                           style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; border-spacing: 0px; border-collapse: collapse; border-radius: 4px; width: 100%; margin: 0; padding: 0;">
                        <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
                            <td class="td-center"
                                style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; vertical-align: middle; text-align: center; margin: 0; padding: 0;"
                                align="center" valign="middle"><img
                                        style="color: #FFF; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0;"
                                        alt="Tastd" src="https://s3.amazonaws.com/tasted/email/logo.png"/></td>
                        </tr>
                    </table>
                </div>

            </td>
            <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
        </tr>
    </table>
    <!-- /HEADER -->
    <div class="space-15"
         style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; height: 15px; margin: 0; padding: 0;"></div>

    <!-- BODY -->
    <table class="body-wrap"
           style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; border-spacing: 0px; border-collapse: collapse; width: 100%; margin: 0; padding: 0;">
        <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
            <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
            <td class="container" bgcolor="#FFFFFF"
                style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 0;">

                <div class=""
                     style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
                    <table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; border-spacing: 0px; border-collapse: collapse; width: 100%; margin: 0; padding: 0;">
                        <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
                            <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">


                                {% block content %}{% endblock %}

                                <div class="space-15"
                                     style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; height: 15px; margin: 0; padding: 0;"></div>

                                <div class="green-line"
                                     style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; height: 2px; width: 100%; background: #41a09a; margin: 0; padding: 0;"></div>

                                <div class="space-15"
                                     style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; height: 15px; margin: 0; padding: 0;"></div>


                                <table class="social-links"
                                       style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; border-spacing: 0px; border-collapse: collapse; text-align: center; vertical-align: center; width: 100%; margin: 0; padding: 0;">
                                    <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
                                        <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
                                            <a href="https://www.facebook.com/tastdapp"
                                               style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #41a09a; margin: 0; padding: 0; border: 0px solid #fff;"><img
                                                        src="https://s3.amazonaws.com/tasted/email/facebook.png"
                                                        alt="facebook"
                                                        style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0 8px; border: 0px solid #fff;"/></a>
                                            <a href="https://twitter.com/tastdapp"
                                               style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #41a09a; margin: 0; padding: 0; border: 0px solid #fff;"><img
                                                        src="https://s3.amazonaws.com/tasted/email/twitter.png"
                                                        alt="twitter"
                                                        style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0 8px; border: 0px solid #fff;"/></a>
                                            <a href="https://www.linkedin.com/company/6413635"
                                               style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #41a09a; margin: 0; padding: 0; border: 0px solid #fff;"><img
                                                        src="https://s3.amazonaws.com/tasted/email/linkedin.png"
                                                        alt="linkedin"
                                                        style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%; margin: 0; padding: 0 8px; border: 0px solid #fff;"/></a>
                                        </td>
                                    </tr>
                                </table>
                                <div class="space-15"
                                     style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; height: 15px; margin: 0; padding: 0;"></div>


                                <div class="green-line"
                                     style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; height: 2px; width: 100%; background: #41a09a; margin: 0; padding: 0;"></div>

                                <div class="space-15"
                                     style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; height: 15px; margin: 0; padding: 0;"></div>

                                <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.4; color: #465359; margin: 0 0 15px; padding: 0;">
                                    Contact us at <a href="mailto:info@tastdapp.com"
                                                     style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #41a09a; margin: 0; padding: 0;">info@tastdapp.com</a>
                                </p>

                                <div class="space-15"
                                     style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; height: 15px; margin: 0; padding: 0;"></div>

                                <div class="green-line-thick"
                                     style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; height: 10px; border-radius: 5px; width: 100%; background: #41a09a; margin: 0; padding: 0;"></div>

                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /content -->

            </td>
            <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
        </tr>
    </table>
    <!-- /BODY --><!-- FOOTER -->
    <table class="footer-wrap"
           style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; border-spacing: 0px; border-collapse: collapse; width: 100%; clear: both !important; margin: 0; padding: 0;">
        <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
            <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
            <td class="container"
                style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 0;">

                <!-- content -->
                <div class="content"
                     style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 600px; display: block; margin: 0 auto; padding: 15px;">
                    <table style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; border-spacing: 0px; border-collapse: collapse; width: 100%; margin: 0; padding: 0;">
                        <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
                            <td align="center"
                                style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
                                <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.4; color: #465359; margin: 0 0 15px; padding: 0;">
                                    <a href="https://s3.amazonaws.com/tasted/email/tastdapp-terms.pdf"
                                       style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #41a09a; margin: 0; padding: 0;">Terms</a>
                                    |
                                    <a href="https://s3.amazonaws.com/tasted/email/tastdapp-privacy.pdf"
                                       style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #41a09a; margin: 0; padding: 0;">Privacy</a>
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /content -->

            </td>
            <td style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;"></td>
        </tr>
    </table>
    <!-- /FOOTER --></div>
<!-- CONTENT -->

</body>
</html>
